//
   Created by mario on 01/04/2016.

doctype
html(lang="en")
    head
        meta(name='viewport', content='width=device-width', initial-scale=1)
        title Shopify Integration
        style(type="text/css"): include stylesheets/main.css
    body
        .container
            block content