extend layout
block content
    - var errorMessage, baseUri
    h2.text-center Register

    form(class='register-form', method='post', action=baseUri)
        div(class='form-group')
            label(for='username-filed') username
            .input-group
                input#username-filed(class='form-control', type='text', name='username', required='required', placeholder='username')
        div(class='form-group')
            label(for='password-filed') password
            .input-group
                input#password-filed(class='form-control', type='text', name='password', required='required', placeholder='password')
        div(class='form-group')
            label(for='confirm-password-filed') confirm password
            .input-group
                input#confirm-password-filed(class='form-control', type='text', name='password', required='required')
        input#submit-button(class='btn btn-default btn-xs btn-block', type='submit', value='Register')
    #error-message-container
        if errorMessage
            p.error-messages= errorMessage